.TestInput {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.override-input {
    border: none!important;
    border-radius: 0px!important;
    border-bottom: solid 2px black!important;
    padding-left: 2px!important;
}
.override-label {
    left: 2px!important;
}